.container-andar{
    background: $azul;
	border: 1px solid black;
}

.font{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

.sprite{
	background: url(../img/sprites.png) no-repeat;
	width: 15px;
	height: 15px;
	
}