#elevador{
	position: absolute;
	background: #88deed;
	width: 30%;
	height: 90px;
	border: 1px solid black;
	margin: 5px 0 0 5px;
	top: 550px;
	@media #{$tablet}{
		margin: 0 0 0 5px;
	}
	.porta{
		width: 50%;
	    height: 90px;
		&:first-child{
		  	float: left;
			border-right: 1px solid #000;
		}
		&:last-child{
			  float: right;
			border-left: 1px solid #000;
		}
		-webkit-transition:all 0.3s linear;
		-moz-transition:all 0.3s linear; 
		-o-transition:all 0.3s linear;
		transition:all 0.3s linear;
	}
	.aberta{
		width: 0%;
	}

}